parameters:
    ignoreErrors:
        - message: '#Parameter \#\d \$(.+) of method Sven\\ArtisanView\\(ViewManager|Config)::.*\(\) expects (?:.+), array\|(bool\|)?string\|null given\.#'
          paths:
              - %currentWorkingDirectory%/src/Commands/MakeView.php
              - %currentWorkingDirectory%/src/Commands/ScrapView.php
        - message: '#Cannot call method (.+)\(\) on Illuminate\\Foundation\\Testing\\PendingCommand\|int\.#'
          path: %currentWorkingDirectory%/tests/Feature/CreateViewsTest.php
        - '#Cannot call method assertExitCode\(\) on Illuminate\\Foundation\\Testing\\PendingCommand\|int\.#'
        - '#Access to an undefined property Illuminate\\Contracts\\Foundation\\Application::.+\.#'
